
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Game Over !!!!</h1>

    <ul>
        {% set gameover = true %}
        {% for joueur in data %}
            {% if joueur.finished %}
                <li> {{ joueur.player }}--{{ joueur.bank }}</li>
                {% else  %}
                    {% set gameover = false %}
                {% endif %}
            {% endfor %}
    </ul>

{% endblock %}
{% block javascripts %}
    <script>
        {#{% include asset('bundles/app/JS/ajax.js') %}#}

             $(document).ready(function () {
                 console.log('READY TO GO !');

                 /*    $.ajax({
                  async   : true,
                  type    : 'GET',
                  url     : 'ajax.php', //
                  data    : 'numPage=' + $(this).attr('data-page'),
                  success : function(data){
                  $('main').html(data);
                  } 
                  });*/
                 function refresh() {
                     //location.reload(true);
                     window.location = '{{ path('gameOver', {'gameId' : game.id}) }}';
                 }
                 setInterval(refresh, 5000);
             });

    </script>
{% endblock %}